// CSS for the plugin only
.clear{ clear: both; }
#cmt-content a {
    font-family: inherit;
    text-decoration: none;
}

#cmt-content h4.cmt-name {
    color: inherit;
    font-size: 16px;
    font-weight: bold;
    margin: 3px 0;
	line-height: 20px;
}
#cmt-content .col-one-fourth a img, #cmt-content .cmt_profile_pic img {
    border-radius: 5px;
    box-shadow: 0 1px 2px;
    transition: all 0.4s ease-in-out 0s;
}
#cmt-content .col-one-fourth a img{
    max-width: 100%;
}
#cmt-content .cmt_profile_pic img {
    max-width: 200px;
}
#cmt-content .col-one-fourth a img:hover{
	opacity: 0.8;
}
.cmt_profile {
    clear: both;
    padding: 20px 0;
}
#cmt-content p {
    margin: 0 0 5px;
}
.cmt-full-profile{    line-height: 40px;	}
.col-one-fourth:last-child {
    margin-right: 0;
}
.cmt-social {
    opacity: 1;
    transition: all 0.4s ease-in-out 0s;
}
.cmt-social:hover {
    opacity: 0.8;
}



/* =Media queries-------------------------------------------------------------- */

/* Minimum width of 600 pixels. */
@media screen and (min-width: 300px) and (max-width: 460px) {
.col-one-fourth.firstCol {
    clear: left;
}
@media screen and (max-width: 420px) {
	.cmt_profile_pic img {
		float: none;
	}	
}
.col-one-fourth {
	width: 90% !important;
}
.col-one-fourth {
	clear: left;
}

}
@media screen and (min-width: 461px) and (max-width: 730px) {
.col-one-fourth {
    float: left;
    margin-right: 5%;
    width: 44% !important;
}

.col-one-fourth.clearPad {
    clear: left;
}

}
@media screen and (min-width: 731px) and (max-width: 1060px) {
.col-one-fourth {
    float: left;
    margin-right: 4%;
    width: 30%;
}
.col-one-fourth.lastCol {
    margin-right: 0;
}
.col-one-fourth.firstCol {
    clear: left;
}
}
@media screen and (min-width: 1061px){
.col-one-fourth {
    float: left;
    margin-right: 4%;
    width: 30%;
}
.col-one-fourth.lastCol {
    margin-right: 0;
}
.col-one-fourth.firstCol {
    clear: left;
}
}



